<nav class="navbar navbar-light p-0">
    {# Logo #}
    <div class="">
        <a href="{{ path('document_1') }}">
            <img id="logo" src="{{ asset('/static/images/logo.svg') }}" width="120" height="70" alt="logo" loading="lazy">
        </a>
    </div>

    {# Navbar collapse button #}
    {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> #}

    {# Navbar left #}
    {# <div class="collapse navbar-collapse mt-4 pl-4" id="navbarSupportedContent"> #}
    <div class="navbar-collapse mt-4 pl-4" id="navbarSupportedContent">
        <ul class="navbar-nav flex-column">
            <li class="nav-item {% if app.request.get('_route') == 'document_1' %} active {% endif %}">
                <a class="nav-link" href="{{ path('document_1') }}">Home</a>
            </li>

            <li class="nav-item mt-2 {% if app.request.get('_route') == 'tolls_start' %} active {% endif %}">
                <a class="nav-link" href="{{ path('tolls_start') }}">Tools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Creator</a>
            </li>

            <li class="nav-item mt-4">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Signup</a>
            </li>
        </ul>
    </div>
</nav>
